.app-header {
	background: var(--color-surface);
	border-bottom: 1px solid rgba(0,0,0,0.06);
	padding: 0.5rem var(--space-md);
    position: sticky;
    top: 0;
    z-index: 1000;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		.logo{
			display: flex;
			gap: 0.5rem;
			i{
				margin-top: 7px;
				color: var(--color-primary);
			}
		}
	}

	&__title {
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--color-text);
	}

	&__logout {
		background: transparent;
		border: 1px solid var(--color-danger);
		color: var(--color-danger);
		display: flex;
		gap: 1rem;
		padding: 0.35rem 0.6rem;
		border-radius: var(--radius-sm);
		font-size: 0.9rem;
		cursor: pointer;
		transition: all 0.12s ease-in-out;
	}

	&__logout:hover {
		background: var(--color-danger);
		color: var(--color-surface);
	}
}

