<div class="add-task-host">
  <dialog #dialog class="modal" (click)="onDialogClick($event)">
    <div class="modal-body">
      <header class="modal-header">
        <h3>Add Task</h3>
      </header>

      <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)" novalidate>
        <div class="form-row">
          <label for="title">Title<span class="required">*</span></label>
          <input
            id="title"
            placeholder="Buy Groceries"
            name="title"
            type="text"
            required
            [(ngModel)]="title"
            #titleInput="ngModel"
          />
          <div
            class="error"
            *ngIf="titleInput.invalid && (titleInput.touched || formSubmitted)"
          >
            Title is required
          </div>
        </div>

        <div class="form-row">
          <label for="description">Description</label>
          <textarea
            id="description"
            placeholder="Tomato, Potato..."
            name="description"
            rows="4"
            [(ngModel)]="description"
          ></textarea>
        </div>

        <div class="actions">
          <button type="button" class="btn btn-secondary" (click)="close()">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="taskForm.invalid"
          >
            Add Task
          </button>
        </div>
      </form>
    </div>
  </dialog>
</div>
