.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    margin-bottom: 10px;
    color: var(--color-primary);
    align-self: center;
  }

  p {
    font-size: 16px;
    color: var(--color-muted);
  }
}

.tasks-list {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  max-height: calc(100vh - 346px);
  overflow-y: auto;
}

app-task-card {
  margin: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
