.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* let content start at top and allow inner area to scroll when needed */
    justify-content: flex-start;

    h2{
        margin-bottom: 10px;
        color: var(--color-primary);
        align-self: center;
    }

    p{
        font-size: 16px;
        color:var(--color-muted);
    }
}

.tasks-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 412px);
    overflow-y: auto;/* small space so the end of cards aren't hidden by scrollbar */
}

app-task-card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-card-bg);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.245);
    cursor:move;
}
  