<app-header></app-header>
<div class="container">
  <div class="info-container">
    <h2>{{ taskBoardConstants.kanbanHeading }}</h2>
    <div class="info-row">
      <p>
        {{ taskBoardConstants.kanbanDescription }}
      </p>

      <button type="button" class="add-task-btn" (click)="addTask.open()">
        <i class="pi pi-plus"></i> Add Task
      </button>
    </div>
  </div>
  <app-add-task #addTask></app-add-task>
  <div class="board-container" cdkDropListGroup>
    @for (column of columns; track column.label) {
    <app-task-column
      [tasks]="gettasksByStatus(column.status)"
      [label]="column.label"
      cdkDropList
      [cdkDropListData]="gettasksByStatus(column.status)"
      (cdkDropListDropped)="onDrop($event, column.status)"
    ></app-task-column>
    }
  </div>
</div>
