<p-confirmdialog></p-confirmdialog>
<div class="task-card" [ngClass]="task().status">
  <div class="task-header">
    <h3>{{ task().title | titlecase }}</h3>
    <button type="button" class="delete-btn" (click)="onDeleteTask()">
      <i class="pi pi-trash"></i>
    </button>
  </div>

  <p class="description">
    {{ task().description || constants.appCardNoDescription }}
  </p>

  <div class="task-data">
    <span
      ><strong>Created:</strong> {{ task().createdAt | date : "short" }}</span
    >
    @if (task().updatedAt) {
    <span
      ><strong>Updated:</strong> {{ task().updatedAt | date : "short" }}</span
    >
    }
  </div>
</div>
